---
layout: default
---

<div class="header">
    <h1>{{ site.name }}</h1>
    <ul>
        {% for item in site.data.navigation %}
        <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="portfolio">
    <h1>Stuff:</h1>
    <ul>
        {% for project in site.data.projects %}
        <li>
            <a href="{{ project.url }}">{{ project.name }}</a>: {{ project.description }}
        </li>
        {% endfor %}
    </ul>
</div>
<div class="blog">
    <h1>Log:</h1>
    <ul>
        {% for post in site.posts %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="/log{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<script src="/log/assets/js/main.js"></script>
